<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nav Bar</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container">
                <a class="navbar-brand fw-bold" href="#">Happy Thrift</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarBeforeLogin"
                    aria-controls="navbarBeforeLogin"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- category -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="categoryDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Category
                        </a>
                        <ul
                            class="dropdown-menu"
                            aria-labelledby="categoryDropdown"
                        >
                            <li><a class="dropdown-item" href="#">Baju</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Celana</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Aksesoris</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- search -->
                <form class="d-flex me-3" role="search">
                    <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search item..."
                        aria-label="Search"
                    />
                    <button class="btn btn-dark" type="submit">Search</button>
                </form>

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-danger ms-2" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <%- include("link") %>
    </body>
</html>
